Checks: >-
  -*,
  android-*,
  boost-*,
  bugprone-*,
  cert-*,
  cppcoreguidelines-*,
  clang-analyzer-*,
  hicpp-*,
  -hicpp-uppercase-literal-suffix,
  misc-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  objc-*,
  performance-*,
  portability-*,
  readability-*,
  -readability-uppercase-literal-suffix,
FormatStyle:     file
CheckOptions:
  - key:             bugprone-assert-side-effect.AssertMacros
    value:           'assert'